@{
    ViewBag.Title = "About Us...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This project is the collaboration of the White Team, Cleveland Codes Cohort 6.<br />
    The team members are as follows:<br />
    <ul>
        <li> Antonio Green: SCRUM Master</li>
        <li> Judy Burns</li>
        <li> Ahmed Abdulrazzaq</li>
        <li> Mark Ciccarelli</li>
    </ul>
</p>
