@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cleveland Codes<br />
    Cuyahoga Community College: ATTC. <br />
    Cleveland, OH 44115<br />
    <abbr title="Phone">Phone:</abbr>
    216.987.4770
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:itfasttrack@tri-c.edu">IT_Fast_Track@Tri-C.edu</a><br />
</address>